# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs.
# http://editorconfig.org/

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# JSON Files
[*.{json,json5,webmanifest}]
indent_size = 2

# BASH Files
[*.{.sh}]
indent_style = tab
indent_size = 4

