services: # bind mount example linuxgsm-{{ shortname }}-bind:
image: gameservermanagers/gameserver:{{ shortname }} # image:
ghcr.io/gameservermanagers/gameserver:{{ shortname }} container_name:
{{ shortname }}server restart: unless-stopped volumes: -
/path/to/linuxgsm/{{ shortname }}server:/data network_mode: host # volume
example linuxgsm-{{ shortname }}-volume: image:
gameservermanagers/gameserver:{{ shortname }} # image:
ghcr.io/gameservermanagers/gameserver:{{ shortname }} container_name:
{{ shortname }}server restart: unless-stopped volumes: -
linuxgsm-{{ shortname }}:/data network_mode: host volumes:
linuxgsm-{{ shortname }}:
