---
services:
  linuxgsm:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile-cs2
    container_name: cs2server
    restart: unless-stopped
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/udp"
      - "27005:27005/udp"
