version: "3.8"
services:
  # bind mount example
  linuxgsm-{{ shortname }}-bind:
    image: gameservermanagers/gameserver:{{ shortname }}
    # image: ghcr.io/gameservermanagers/gameserver:{{ shortname }}
    container_name: {{ shortname }}server
    environment:
    # Cron job environment variables
      MONITOR_CRON: "*/5 * * * *"
      UPDATE_CRON: "*/30 * * * *"
      FORCE_UPDATE_CRON: "30 4 * * *"
      UPDATE_LGSM_CRON: "0 0 * * 0"
      BACKUP_CRON: "0 5 * * *"
    restart: unless-stopped
    volumes:
      - /path/to/linuxgsm/{{ shortname }}server:/data
    network_mode: host

  # volume example
  linuxgsm-{{ shortname }}-volume:
    image: gameservermanagers/gameserver:{{ shortname }}
    # image: ghcr.io/gameservermanagers/gameserver:{{ shortname }}
    container_name: {{ shortname }}server
    environment:
    # Cron job environment variables
      MONITOR_CRON: "*/5 * * * *"
      UPDATE_CRON: "*/30 * * * *"
      FORCE_UPDATE_CRON: "30 4 * * *"
      UPDATE_LGSM_CRON: "0 0 * * 0"
      BACKUP_CRON: "0 5 * * *"
    restart: unless-stopped
    volumes:
      - linuxgsm-{{ shortname }}:/data
    network_mode: host

volumes:
  linuxgsm-{{ shortname }}:
