services: # bind mount example linuxgsm-l4d-bind: image:
gameservermanagers/gameserver:l4d # image:
ghcr.io/gameservermanagers/gameserver:l4d container_name:
l4dserver restart: unless-stopped volumes: -
/path/to/linuxgsm/l4dserver:/data network_mode: host # volume
example linuxgsm-l4d-volume: image:
gameservermanagers/gameserver:l4d # image:
ghcr.io/gameservermanagers/gameserver:l4d container_name:
l4dserver restart: unless-stopped volumes: -
linuxgsm-l4d:/data network_mode: host volumes:
linuxgsm-l4d:
