---
services:
  # bind mount example
  linuxgsm-eco-bind:
    image: gameservermanagers/gameserver:eco
    # image: ghcr.io/gameservermanagers/gameserver:eco
    container_name: ecoserver
    restart: unless-stopped
    volumes:
      - /path/to/linuxgsm/ecoserver:/data
    network_mode: host

  # volume example
  linuxgsm-eco-volume:
    image: gameservermanagers/gameserver:eco
    # image: ghcr.io/gameservermanagers/gameserver:eco
    container_name: ecoserver
    restart: unless-stopped
    volumes:
      - linuxgsm-eco:/data
    network_mode: host

volumes:
  linuxgsm-eco:
