---
services:
  # bind mount example
  linuxgsm-fctr-bind:
    image: gameservermanagers/gameserver:fctr
    # image: ghcr.io/gameservermanagers/gameserver:fctr
    container_name: fctrserver
    restart: unless-stopped
    volumes:
      - /path/to/linuxgsm/fctrserver:/data
    network_mode: host

  # volume example
  linuxgsm-fctr-volume:
    image: gameservermanagers/gameserver:fctr
    # image: ghcr.io/gameservermanagers/gameserver:fctr
    container_name: fctrserver
    restart: unless-stopped
    volumes:
      - linuxgsm-fctr:/data
    network_mode: host

volumes:
  linuxgsm-fctr:
