services: # bind mount example linuxgsm-etl-bind: image:
gameservermanagers/gameserver:etl # image:
ghcr.io/gameservermanagers/gameserver:etl container_name:
etlserver restart: unless-stopped volumes: -
/path/to/linuxgsm/etlserver:/data network_mode: host # volume
example linuxgsm-etl-volume: image:
gameservermanagers/gameserver:etl # image:
ghcr.io/gameservermanagers/gameserver:etl container_name:
etlserver restart: unless-stopped volumes: -
linuxgsm-etl:/data network_mode: host volumes:
linuxgsm-etl:
