services: # bind mount example linuxgsm-ins-bind: image:
gameservermanagers/gameserver:ins # image:
ghcr.io/gameservermanagers/gameserver:ins container_name:
insserver restart: unless-stopped volumes: -
/path/to/linuxgsm/insserver:/data network_mode: host # volume
example linuxgsm-ins-volume: image:
gameservermanagers/gameserver:ins # image:
ghcr.io/gameservermanagers/gameserver:ins container_name:
insserver restart: unless-stopped volumes: -
linuxgsm-ins:/data network_mode: host volumes:
linuxgsm-ins:
