---
services:
  # bind mount example
  linuxgsm-tfc-bind:
    image: gameservermanagers/gameserver:tfc
    # image: ghcr.io/gameservermanagers/gameserver:tfc
    container_name: tfcserver
    restart: unless-stopped
    volumes:
      - /path/to/linuxgsm/tfcserver:/data
    network_mode: host

  # volume example
  linuxgsm-tfc-volume:
    image: gameservermanagers/gameserver:tfc
    # image: ghcr.io/gameservermanagers/gameserver:tfc
    container_name: tfcserver
    restart: unless-stopped
    volumes:
      - linuxgsm-tfc:/data
    network_mode: host

volumes:
  linuxgsm-tfc:
