services: # bind mount example linuxgsm-samp-bind: image:
gameservermanagers/gameserver:samp # image:
ghcr.io/gameservermanagers/gameserver:samp container_name:
sampserver restart: unless-stopped volumes: -
/path/to/linuxgsm/sampserver:/data network_mode: host # volume
example linuxgsm-samp-volume: image:
gameservermanagers/gameserver:samp # image:
ghcr.io/gameservermanagers/gameserver:samp container_name:
sampserver restart: unless-stopped volumes: -
linuxgsm-samp:/data network_mode: host volumes:
linuxgsm-samp:
