---
services:
  # bind mount example
  linuxgsm-dab-bind:
    image: gameservermanagers/gameserver:dab
    # image: ghcr.io/gameservermanagers/gameserver:dab
    container_name: dabserver
    restart: unless-stopped
    volumes:
      - /path/to/linuxgsm/dabserver:/data
    network_mode: host

  # volume example
  linuxgsm-dab-volume:
    image: gameservermanagers/gameserver:dab
    # image: ghcr.io/gameservermanagers/gameserver:dab
    container_name: dabserver
    restart: unless-stopped
    volumes:
      - linuxgsm-dab:/data
    network_mode: host

volumes:
  linuxgsm-dab:
