---
services:
  # bind mount example
  linuxgsm-pc-bind:
    image: gameservermanagers/gameserver:pc
    # image: ghcr.io/gameservermanagers/gameserver:pc
    container_name: pcserver
    restart: unless-stopped
    volumes:
      - /path/to/linuxgsm/pcserver:/data
    network_mode: host

  # volume example
  linuxgsm-pc-volume:
    image: gameservermanagers/gameserver:pc
    # image: ghcr.io/gameservermanagers/gameserver:pc
    container_name: pcserver
    restart: unless-stopped
    volumes:
      - linuxgsm-pc:/data
    network_mode: host

volumes:
  linuxgsm-pc:
