services: # bind mount example linuxgsm-opfor-bind: image:
gameservermanagers/gameserver:opfor # image:
ghcr.io/gameservermanagers/gameserver:opfor container_name:
opforserver restart: unless-stopped volumes: -
/path/to/linuxgsm/opforserver:/data network_mode: host # volume
example linuxgsm-opfor-volume: image:
gameservermanagers/gameserver:opfor # image:
ghcr.io/gameservermanagers/gameserver:opfor container_name:
opforserver restart: unless-stopped volumes: -
linuxgsm-opfor:/data network_mode: host volumes:
linuxgsm-opfor:
