services: # bind mount example linuxgsm-ahl2-bind: image:
gameservermanagers/gameserver:ahl2 # image:
ghcr.io/gameservermanagers/gameserver:ahl2 container_name:
ahl2server restart: unless-stopped volumes: -
/path/to/linuxgsm/ahl2server:/data network_mode: host # volume
example linuxgsm-ahl2-volume: image:
gameservermanagers/gameserver:ahl2 # image:
ghcr.io/gameservermanagers/gameserver:ahl2 container_name:
ahl2server restart: unless-stopped volumes: -
linuxgsm-ahl2:/data network_mode: host volumes:
linuxgsm-ahl2:
