name: Update Docker Hub Description

on:
  workflow_dispatch:
  push:
    paths:
      - README.md
      - .github/workflows/dockerhub-description.yml
    branches:
      - main

permissions:
  contents: read

jobs:
  dockerhub-description:
    name: Docker Hub Description
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          repository: ${{ secrets.DOCKER_HUB_REPO }}
          short-description: ${{ github.event.repository.description }}
